In [2]:
import pandas as pd
temp = pd.read_csv('./recoded_tape.txt')
temp.head(5)

,#SYMBOL NAME,KFIGIV,KJMVXE,KSENS,KZRODN,NBANK,NCRODB,NCRSTEP,NZOVLAP,NZON,...,cZINST81,cZINST70,cZINST72,cZINST73,cZINST75,UP_D,DOWN_D,BOR,MAKE_UP,Unnamed: 2255
0,0,1,1,300,228,8,8,228,114,25,...,0,0,0,0,0,0,0,0,0,NaN
1,0,1,1,300,228,8,8,228,114,25,...,0,0,0,0,0,0,0,0,0,NaN
2,0,1,1,300,228,8,8,228,114,25,...,0,0,0,0,0,0,0,0,0,NaN
3,0,1,1,300,228,8,8,228,114,25,...,0,0,0,0,0,0,0,0,0,NaN
4,0,1,1,300,228,8,8,228,114,25,...,0,0,0,0,0,0,0,0,0,NaN

In [3]:
temp.at[0, 'NZOVLAP']

114

In [8]:
if 'KJMVXE' in temp.columns:
    print('true')
if 'KJMVssXE' in temp.columns:
    print('true')
else:
    print('FF')

true
FF

In [18]:
temp.at[0, 'KSIBPS']

0